.App {
  padding: 0 20%;
  text-align: center;
  color: rgb(82, 22, 224);
}

section.question{
    margin: 3rem 0;
}

span.answers{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button.answer {
    padding: .1rem 2rem;
    background-color: transparent;
    border: double 2px rgb(0, 234, 255);
    border-radius: 20px;
}

button.answer:hover{
    background-color: cadetblue;
    cursor: pointer;
}

.question-separation{
    margin: 2rem 0;
}

button.answer.selected{
    background-color: rgb(0, 110, 255);
}

button.answer.correct{
    background-color: rgb(0, 139, 49);
}

.check-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-answers{
    padding: 5rem;
    background-color: transparent;
    border: double 2px rgb(0, 234, 255);
    border-radius: 20px;
}